<div class="flex items-center h-screen justify-center px-4">
  <div class="max-w-sm overflow-hidden rounded-xl bg-white shadow-md duration-100 hover:scale-105 hover:shadow-xl">
    <img src="<%= generate_image() %>" class="h-auto w-full"/>
    <div class="p-5">
      <p class="text-medium mb-5 text-gray-700"><%= generate_response() %></p>
      <button onClick="ReGenerateStory()" class="w-full mb-5 bg-violet-600 py-2 text-violet-100 hover:bg-violet-500 hover:shadow-md duration-75 rounded-md">Re-Generate Story</button>
      <button onClick="goBack()" class="w-full bg-violet-600 py-2 text-violet-100 hover:bg-violet-500 hover:shadow-md duration-75 rounded-md">Go Back</button>
    </div>
  </div>
</div>

<script>
  function ReGenerateStory() {
    window.location.replace("/result");
  }
</script>

<script>
  function goBack() {
    window.location.replace("/");
  }
</script>